.svn/
/.Xil
*.aux
*~
/pacman_fsbl
/hello
/menu
/jtag_boot
/*.old
/*/.petalinux
/*/project-spec/hw-description/ps7_init.c
/*/project-spec/hw-description/ps7_init.h
/*/project-spec/hw-description/ps7_init.html
/*/project-spec/hw-description/ps7_init.tcl
/*/project-spec/hw-description/ps7_init_gpl.c
/*/project-spec/hw-description/ps7_init_gpl.h
/*/project-spec/hw-description/system.hdf
/*/project-spec/hw-description/zsys_wrapper.bit
/petalinux/ramdisk
/petalinux/vanilla
/petalinux/trenz
/petalinux/full
/petalinux/ref

